<h3>Nova categoria</h3>

<div class="card">
    <div class="card-body">
        <form method="post" action="/admin/categorias/nova">
            <label for="nome">Nome: </label>
            <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome da categoria" />

            <label for="slug">Slug: </label>
            <input class="form-control" type="text" id="slug" name="slug" placeholder="Slug da categoria" />

            <button type="submit" class="btn btn-success mt-2">Salvar</button>
        </form>
    </div>
</div>